@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="text-start">
    <img src="/Me.png" alt="Me!" class="page-image-fancy"/>
    <section>My name is Travis Eggett. I'm a member of Cohort 35. I chose this angle for my social media site because I'm quite a bit of an introvert and I'm not particularly a fan of social media. In fact, I've actually uninstalled most social media platforms from my phone. I have a couple still (reddit being one of them) but I don't check them very often. If someone needs to get ahold of me, messaging me on Discord or sending me a text are the main ways I keep in touch with people.</section>
</div>