@{
    @if (User.Identity is { IsAuthenticated: true })
    {
        ViewData["Title"] = "Your Feed";
    }
    else
    {
        ViewData["Title"] = "Welcome";
    }
}

<div class="text-center">
    @if (User.Identity is { IsAuthenticated: true })
    {
        <p>Your Feed</p>
        <form action="/post/@User.Identity.Name" method="post">
            <textarea name="PostText"></textarea>
            <input type="submit" class="btn"/>
        </form>
        @(await Html.PartialAsync("_Feed", new FeedData(){Posts = ViewBag.Posts}))
    }
    else
    {
        <partial name="_Welcome"></partial>
    }
</div>