@model FeedData

@{
    ViewData["Title"] = Model.User.UserName + "'s Page";
}

<div class="text-center">
    @if (Model.User.UserName.Equals(User.Identity?.Name))
    {
        <p>Your Feed</p>
    }
    else
    {
        <p>Welcome to @Model.User.UserName's Page</p>
    }
    <form action="/post/@Model.User.UserName" method="post">
        <textarea name="PostText"></textarea>
        <input type="submit" class="btn"/>
    </form>
    @(await Html.PartialAsync("_Feed", Model))
</div>