<h1>
    Welcome
</h1>

<div>
    <img src="asm.png" alt="AntiSocialMedia logo" class="welcome-image"/>
    <p>Welcome to AntiSocialMedia. The site that encourages not communicating with your friends and family because why would we want to talk to anyone?</p>
    <p>
        Please
        <a asp-area="Identity" asp-page="/Account/Register">register</a>
        or
        <a asp-area="Identity" asp-page="/Account/Login">log in</a>
        to continue.
    </p>
</div>